.contain {
  width: 70%;
  margin: auto;
  text-align: center;
}

.button{

  margin-top: 20px;
  background-color: #00cccc;
  border: none;
  text-decoration: none;
  font-size: 26px;
  font-family: 'Indie Flower';
  font-style: italic;


}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-image: radial-gradient(#3d5c5c, #132639 );
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color:  #1aff66;
}


p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower';
}

img {
  width: 80%;

}

footer {
  margin-top: 3%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
